body{
  font-family: 'Noto Serif TC' ,sans-serif !important;
}
.text-slanted{
  font-family: Dokdo,sans-serif ;
}
.text-pruple{
  color: rgb(78, 13, 231);
}
.letter-spacing{
  letter-spacing: .5rem;
}